
#main {
    margin-top:1em;
    max-width: 98%;
}

#footer {
    margin-top:4em;
}    

a { color:#007bff; }

.ci-app-table > thead, .ci-app-table > tbody { display: block; width: 100%;}
.ci-app-table { margin: 0 auto; margin-top: 120px; max-width: 1200px;  overflow-x: visible; }
.ci-app-table th, .ci-app-table td { display: block; border: none; padding; 0px;float: left; height:33px; width: 33px; margin: 5px; margin-top: -5px; }

th.ci-app-test-title 
{ 
    margin:5px;
    white-space: nowrap; 
}

th.ci-app-test-title > div 
{
    position:relative;
    transform: 
        translate(0px, -10px)
        rotate(315deg);
    width: 33px;
}

th.ci-app-test-title > div > span 
{
    border-bottom: 1px solid #aaa;
    padding: 0;
    border:none;
}

td.ci-app-level { width: 54px; }
td.ci-app-test-result { text-align:center; padding: 14px 8px 8px 8px; }
td.ci-app-test-result > div { position:relative; background-color: #bdc3c7; border-radius:5px; width: 18px; height: 18px;}
td.ci-app-test-result > div.success { background-color: rgb(46,204,83); }
td.ci-app-test-result > div.danger  { background-color: rgb(225,80,62); }

.ci-app-table > thead > tr > th { border : none; }
.ci-app-table > tbody > tr > td { border : none; }
.ci-app-table .ci-app-row-title { text-align: center; width:200px; }
.ci-app-table .ci-app-test-info { width:150px; font-size: 12px; }

.canvasjs-chart-credit { display: none; }

.daysAgo a { color: #777; }
.official-star { color: #f0ad4e; }
.level-improvement { color: #2d2; }
.level-regression { color: #f22; }
.level-unknown { color: #aaa; }
.text-warning { color: #f0ad0e !important; }

.table th { border-top: none; }

.table-pullrequests { width: 1250px; font-family: sans-serif; border: none; }

.column-pr-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:400px;
}
