{% extends "base.html" %}
{% block content %}

<h3 class="text-center font-weight-bold my-5">Opened testings pull requests for apps</h3>

<div class="row">
    <div class="mx-auto">
        <div>
            <table class="table table-responsive ci-app-table" style="margin-top:30px;">
                <thead>
                    <tr>
                        <th class="ci-app-row-title">App</th>
                        <th style="width:150px;"><div>Opened</div></th>
                        <th style="width:150px;"><div>Last update</div></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for app in apps %}
                <tr class="appline" app="{{ app.name }}">

                    <td class="ci-app-row-title">
                        {% if app.list.name == "official" %}
                            <span class="official-star oi oi-star" title="Official" aria-hidden="true"></span>
                        {% endif %}
                        <a href="{{ url_for('main.appci_app', app=app.name) }}">
                            <span class="font-weight-bold" title="More tests / info for this app">
                                {{ app.name }}</span>
                        </a>
                    </td>

                    <td style="width:150px;"
                    {% if app.testing_pr.created_ago >= 60 %}
                    class="text-danger"
                    {% else %}{% if app.testing_pr.created_ago >= 30 %}
                    class="text-warning"
                    {% endif %}{% endif %}
                    >
                    {{ app.testing_pr.created_ago }} days ago
                    </td>
                    
		    <td style="width:150px;"
                    {% if app.testing_pr.updated_ago >= 30 %}
                    class="text-danger"
                    {% else %}{% if app.testing_pr.updated_ago >= 15 %}
                    class="text-warning"
                    {% endif %}{% endif %}
                    >
                    {{ app.testing_pr.updated_ago }} days ago
                    </td>

                    <td class="px-0" style="width:200px">
                        <a href="{{ app.repo }}/pull/{{ app.testing_pr.number }}">
                         <span class="oi oi-external-link text-info"
                              aria-hidden="true"
                              title="To the Pull Request"></span> Go to the pull request
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
